<h1>Contact Me</h1>
<hr>
<div class="project-box">
    <p>You can reach out to me through the following channels:</p>
    <ul>
        <li>Email: <a href="mailto:mdsohailan0077@gmail.com">mdsohailan0077@gmail.com</a></li>
        <li>Address: 119 Tunbridge, Barrie, Ontario, L4M 6T1</li>
        <li>LinkedIn: <a href="https://linkedin.com/in/sohail5412">linkedin.com/in/sohail5412</a></li>
        <li>Google+: <a href="https://sites.google.com/view/sohail5412">https://sites.google.com/view/sohail5412</a></li>
    </ul>
</div>
