<h1 class="display-4">Welcome to Mohammad Sohail Khan's Portfolio</h1>
<hr>
<img src="/images/my image.jpg" alt="Mohammad Sohail Khan" class="img-fluid rounded-circle mb-3" width="200">
<p class="lead">Discover my skills, experience, and projects below. Feel free to explore and reach out if you'd like to connect!</p>
